* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    
}

header h1 {
    text-align: center;

}

nav ul {
    background-color: gray;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    
}

nav a {
    color: white;
    text-decoration: none;
    padding: 4px;
   
}


.container {
    display: flex;
    margin: 0 auto;
    
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 0.8rem;
}

.sidebar a {
    color: #333;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 0 20px;
}

.welcome h2 {
    margin-top: 10px;
    margin-bottom: 1rem;
}

.image-gallery {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.gallery-item {
    flex: 1;
    height: 420px;
    overflow: hidden;
    border-radius: 5px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    margin-bottom: 2rem;
    line-height: 1.8;
}

.featured-coffees {
    margin-bottom: 2rem;
}

.featured-coffees h3 {
    margin-bottom: 1rem;
}

.featured-coffees ul {
    list-style: none;
    margin-left: 1rem;
}

.featured-coffees li {
    margin-bottom: 0.5rem;
}

.about-link {
    margin-bottom: 1rem;
}

.about-link a {
    color: #0066cc;
    text-decoration: none;
}

.about-link a:hover {
    text-decoration: underline;
}

.thank-you {
    font-style: italic;
    color: grey;
}

footer div{
    margin-top: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: large;
    padding: 10px;
}